{% load static %}
{% load myresume_tags %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{ title | upper }}</title>
    <link type="text/css" href="{% static 'myresume/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<ul>
    <li><a href="{% url 'home' %}">Главная страница</a></li>
    {% for m in menu %}
    {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>

<ul id="leftchapters">
    {% if cat_selected == 0 %}
    <li class="selected">Все категории</li>
    {% else %}
    <li><a href="{% url 'home' %}">Все категории</a></li>
    {% endif %}

    {% show_categories cat_selected %}

    <li>{% show_all_tags %}</li>
</ul>

<td valign="top" class="content">
    <!-- Хлебные крошки -->
    {% block breadcrumbs %}
    {% endblock %}

<!-- Блок контента -->
    <div class="content-text">
{% block content %}
{% endblock %}
    </div>
</td>
</body>
</html>
